html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.audio-controls {
  height: 70px;
  width: 250px;
  padding: .5rem;
  background-color: white;
  position: absolute;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 4px;

  button {
    padding: .5rem;
  }
}

.modes-container {
  height: 70px;
  width: 250px;
  padding: .5rem;
  background-color: white;
  position: absolute;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 4px;

  button {
    padding: .5rem;
  }
}

.active-mode {
  border: 2px solid greenyellow;
  border-radius: 5px;
}